

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  width: 100%;
  height: 100%;
  margin: 10px;
  background: linear-gradient(to bottom, #69a5ff, #170132);
  min-height: 100vh;
  background-attachment:fixed ;
}

.container {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  width: 100%;
  padding: 20px;
  margin: auto;
  display: grid;
  background-color:none;
  color: #f9f9f9;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
#arama{
  border-bottom:2px #170132 solid ;
  background-color: transparent;
  border-top: 0px ;
  border-right: 0px ;
  border-left: 0px ;
  border-radius: 0px ;
  padding-right: 10px;
  margin-right: 10px;
  height: 30px;
  font-size: 14px;

}
#Favoriler{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f9f9f9;
  background-color:#747bff;
  border-radius: 15px;
  border:1px solid #4077ee ;
}
#Favoriler li{
  border-bottom: 2px #170132 dashed ;
  padding :20px;
  margin-left: 20px;
  margin-right: 40px;
}
#Favoriler button{
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  cursor: pointer;
  transition: border-color 0.50s;
}
#Favoriler button:hover{
  font-size: 15px;
  font-weight: bolder;
  text-shadow: #040228 2px 2px 2px;
  animation:rotation 2s infinite linear;
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #083360;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  font-size: 20px;
  background-color: #0a4da0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

.card {
  border: 2px solid #01000e;
  border-radius: 25px;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8;
  display: "flex";
  justify-content: "space-between";
  align-items: "center";
  background-color: #040228;
}

input,
select {
  border-bottom: 1px solid #ccc;
  border-radius: 6px;
  background-color: #69a5ff;
}